html, body {
    width: 300px;
    background-color: rgb(151, 79, 219);
}

.row {
    height: 40px;
    width: 100%;
    padding: 4px;
}

.page-choice {
    width: 90%;
    padding: 4px;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    float : left;
}

.state {
    width: 10%;
    padding: 4px;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    float : right;
}

.input {
    width: 88%;
    padding: 4px;
    font-size: 1em;
    text-align: center;
    background-color: rgb(249, 180, 255);
    float : center;
}

.commit {
    width: 10%;
    padding: 4px;
    text-align: center;
    background-color: rgb(173, 129, 255);
    float : right;
}

.row:hover {
    background-color: #00000049;
}
